
{% extends 'treemium/base.html' %}
{% block header %}
{% load static %}

        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-4">
                        <!-- <div class="card settings_menu">
                            <div class="card-header">
                                <h4 class="card-title">Settings</h4>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li class="nav-item">
                                        <a href="settings.html" class="nav-link">
                                            <i class="mdi mdi-account"></i>
                                            <span>Edit Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="settings-preferences.html" class="nav-link">
                                            <i class="la la-cog"></i>
                                            <span>Preferences</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="settings-security.html" class="nav-link">
                                            <i class="la la-lock"></i>
                                            <span>Security</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="settings-account.html" class="nav-link active">
                                            <i class="la la-university"></i>
                                            <span>Linked Account</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Linked Account or Card</h4>
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <ul class="linked_account">
                                        <li>
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="d-flex">
                                                        <span class="me-3"><i class="fa fa-credit-card"></i></span>
                                                        <div class="flex-grow-1">
                                                            <h5 class="mt-0 mb-1">Debit Card</h5>
                                                            <p>Prepaid Card *********5478</p>
                                                        </div>
                                                        <!-- <div class="edit-option">
                                                            <a href="settings-account.html#"><i class="fa fa-eye"></i></a>
                                                            <a href="settings-account.html#"><i class="fa fa-pencil"></i></a>
                                                            <a href="settings-account.html#"><i class="fa fa-trash"></i></a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="d-flex">
                                                            <span class="me-3"><i class="fa fa-user"></i></span>
                                                            <div class="flex-grow-1">
                                                                <h5 class="mt-0 mb-1">Shantay R Simoni</h5>
                                                                <p>Not Registered</p>
                                                                <p>Shantay directly linked with Robert Coutinho</p>
                                                            </div>
                                                            <!-- <div class="edit-option">
                                                                <a href="settings-account.html#"><i class="fa fa-eye"></i></a>
                                                                <a href="settings-account.html#"><i class="fa fa-pencil"></i></a>
                                                                <a href="settings-account.html#"><i class="fa fa-trash"></i></a>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                <!-- <div class="col-3">
                                                    <div class="verify">
                                                        <div class="not-verify">
                                                            <span><i class="la la-close"></i></span>
                                                            <a href="settings-account.html#">Not verified</a>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </li>
                                    </ul>

                                    <!-- <div class="mt-5">
                                        <a href="verify-step-5.html" class="btn btn-primary px-4 me-3">Add Bank
                                            Account</a>
                                        <a href="verify-step-1.html" class="btn btn-success px-4">Add Debit
                                            Account</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

{% endblock %}