{% extends 'main/base.html' %}
{% block content %}
{% load static %}

      <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    
    <!-- about_area_start  -->
    <div class="about_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <iframe title="STP Investment Services - Global Operations" width="640" height="360" src="https://www.youtube.com/embed/lv_0qUhxqIk?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                    <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <iframe title="STP Investment Services - STP Portal Introduction" width="300" height="300" src="https://www.youtube.com/embed/HVVlO3cbIk8?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
<style>
    iframe{
        margin-right: 15px;
        height: 350px;
        width: 600px;
    }
</style>
                
                </div>
                <div class="col-lg-6 col-md-6" style="margin-left: 15px;">
                    <div class="about_info pl-68">
                        <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                            <h3>Who we are</h3>
                        </div>
                        <h4>$100B in assets under administration (AUA)</h4>
                        <p>Our Model Built On Service, Transparency & Partnership
                            About STP Investment Services
                            
                            STP was formed in 2008, with one client, five employees and $2B in assets under administration.
                            
                            Today, we’re an award-winning, industry-leading fintech and global investment operations firm that provides complete front, middle, and back office services.
                            
                            The times may change, but not our commitment to living up to the highest standards of service excellence.
                            
                            Service. Transparency. Partnership. That’s STP.
                            
                            History
                            2020
                            STP crosses $250B in assets serviced.
                             
                            
                            Global team expands to 220 strong.
                            2020
                            2020
                            STP beats out several larger competitors to win FTF’s “Best Outsourcing Provider” award after votes from industry colleagues and partners.
                            2020
                            2020
                            STP acquires Accusource to expand the breadth of services to RIAs, family offices, and asset managers.
                             
                            
                            Read the Story
                            2019
                            2019
                            STP acquires AlphaOne Capital to expand trading, compliance, and emerging manager services.
                            2019
                            STP hosts its first-ever client conference, a two-day event in Philadelphia, PA.
                            Clients from across the country participate.
                            
                            2017
                            STP team grows to 100 strong across our offices in West Chester, PA and Bangalore, India.
                            2017
                            For the first time ever, STP surpasses a key milestone:
                            $100B in assets under administration (AUA)
                            2016
                            2016
                            Evidencing our rapid growth story, STP expands into new offices in West Chester, PA and Bangalore, India.
                            2016
                            STP acquires Financial Control Systems (FCS) to expand and strengthen services to plan sponsors across the country.
                            2014
                            STP India officially launches with the opening of an office in Bangalore, India.
                            
                             
                            
                            2013
                            STP acquires new outsourcing clients from a Business Process Solutions provider.
                            2010
                            STP’s next generation, industry-leading software platform, SaaS Portal, launches. Platform offers revolutionary SaaS software, apps, interactive dashboards, and automated reporting.
                            
                            2008
                            2008
                            The STP company launches with one foundation client, five team members, and $2B AUA, servicing funds, wealth, and institutional accounts.
                            What Our Clients Say
                            
                            In Our Client's Own Words
                            From the video, a particular quote that drives home the point that STP’s service model allowed our client to focus on what they do best:
                            
                            “STP’s investment in people and technology has enabled Bridgeway to focus on our core competency – managing money to help our clients achieve their goals.”
                            
                            –Sharon Lester
                            Director of Operations
                            Bridgeway Capital Management
                            
                            </p>
                    </div>
                  </div>

            <script type="text/javascript">window.addEventListener('DOMContentLoaded', function() {
              jQuery(document).ready(function() {
                jQuery('.fancybox').fancybox({
            
                });
              });
            });</script>
            
            </div></div>					</section>
                            <section id="What-Our-Clients-Say" style="z-index:98">
                                    <div class="sectionheader lightgray">
                          <div class="container">
                              <h2>What Our Clients Say</h2>
                          </div>
                        </div>
                                  <div class="row module wrap textimage none"><div class="container"><div class="col-lg-6 push-lg-6"><div class="embed-container"><div class="embed-container embed-container-video"><iframe title="STP Investment Services - Client Testimonial" width="640" height="360" src="https://www.youtube.com/embed/12vCGNsQBeM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div></div><div data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"   class="moduletextleft col-lg-6 pull-lg-6"><h2>In Our Client's Own Words</h2><p>From the video, a particular quote that drives home the point that STP&#8217;s service model allowed our client to focus on what they do best:</p>
            <p><strong>“</strong>STP&#8217;s investment in people and technology has enabled Bridgeway to focus on our core competency &#8211; managing money to help our clients achieve their goals.<strong>”</strong></p>
            <p>&#8211;<strong>Sharon Lester<br />
            Director of Operations<br />
            Bridgeway Capital Management</strong></p>
            <p>&nbsp;</p>
            </div></div></div>					</section>
            <body class="page-template page-template-page-templates page-template-page-modules page-template-page-templatespage-modules-php page page-id-82 page-parent cookies-not-set">

                <div style="position:relative; z-index:10">
                        <div data-bg="https://stpis.com/wp-content/uploads/2020/11/bridge2-scaled-e1605712687988.jpg" class="pagehero rocket-lazyload"  style="!important;" >
                        <!--<div class="homepageherooverlay"></div>-->
                        <div class="pageheromessage">

                <div id="content">
            
                        <div class="row module headline wrap grey"><div class="container"><h2>Combine the front, middle, and back office with STP</h2></div></div><div class="row module icongrid wrap none threecols"><div class="container"><div class="text-xs-center "><a href="https://stpis.com/services/investment-operations-outsourcing/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/framework-new.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/framework-new.svg" /></noscript><h3>Investment Operations Services </h3></a><p><strong>Trade Settlements • Data Management • Portfolio Accounting • Performance • Reconciliation • Corporate Actions &amp; Pricing • Fee Billing</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/fund-services/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/fund-services-3.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/fund-services-3.svg" /></noscript><h3>Fund Services</h3></a><p><strong>Fund Administration • Shadow Accounting • Portfolio NAV Calculations • Feeder NAV &amp; Investor Allocations </strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/business-process-solutions/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/compliance-2.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/compliance-2.svg" /></noscript><h3>Business Process Solutions</h3></a><p><strong>Advent Portfolio Accounting &amp; Reconciliation • Support 3rd Party Software • Client Reporting • Performance History Updates</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/trade-settlements/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/09/Controller-CFO.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/09/Controller-CFO.svg" /></noscript><h3>Trade Settlements</h3></a><p><strong>Custodian Trade Routing • Broker Matching • Pre-Match/Fails Tracking • Trade Affirmation • Global Service • KPI Reporting</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/services/outsource-trading/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/stats-newer.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/stats-newer.svg" /></noscript><h3>Trading</h3></a><p><strong>Central Trading Desk • Pre-trade Compliance • Commission Tracking • Broker-Routing • TCA Reporting</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/reconciliation/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/IPS-new.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/IPS-new.svg" /></noscript><h3>Reconciliation</h3></a><p><strong>Automated Matching &amp; Break Resolution • Reconciliation Dashboard • 3-Way Rec: Admin, Custodian, &amp; Manager</strong></p>
            <p>&nbsp;</p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/performance-measurement/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/11/Investment-Reporting.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/11/Investment-Reporting.svg" /></noscript><h3>Performance Measurement</h3></a><p><strong>CIPM Expertise • Total/Security Level Performance • GIPS Composites • Performance Dashboards</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/our-software/reporting/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/report-builder-new.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/report-builder-new.svg" /></noscript><h3>Client Reporting</h3></a><p><strong>Automate/Streamline Reporting • Firm Branding • Investment Commentary • Dashboard Branding • Standard Templates • Custom Reports</strong></p>
            <p>&nbsp;</p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/portfolio-accounting/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/onboarding-01-01.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/onboarding-01-01.svg" /></noscript><h3>Portfolio Accounting</h3></a><p><strong>Multi-Currency Accounting • Trade-Settle Date •  24&#215;5 Capabilities • Data &amp; OMS Integration • Multi-Currency Conversions • Complex Investments</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/compliance/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/telescope-OpsPortal-new.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/telescope-OpsPortal-new.svg" /></noscript><h3>Compliance</h3></a><p><strong>ADVs • 13F/H Filings • Compliance Manual • Personal Trading Policies • Code of Ethics • Audit Support</strong></p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/data-warehouse-stp/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/09/IT-infrastructure-new.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/09/IT-infrastructure-new.svg" /></noscript><h3>Data Warehouse</h3></a><p><strong>Import Any Data Source • Data Transfer •  Golden Copy Rules • Cloud-Based Security • Migrate Legacy Data • Data Controls</strong></p>
            <p>&nbsp;</p>
            </div><div class="text-xs-center "><a href="https://stpis.com/capabilities/data-management/"><img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" data-lazy-src="https://stpis.com/wp-content/uploads/2020/10/operations_new-2.svg" /><noscript><img src="https://stpis.com/wp-content/uploads/2020/10/operations_new-2.svg" /></noscript><h3>Data Management</h3></a><p><strong>24&#215;5 Data Management Model • Real-Time Security Master File • Multi-Data Vendor Import • Automated Data Validation • Exception Reporting</strong></p>
            <p>&nbsp;</p>
            </div></div></div>
                </div><!-- Content end -->            
            
    <!-- testimonial_area  -->
    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class=" Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row">
                                <div class="col-lg-11">
                                    <div class="single_testmonial d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="img/testmonial/author.png" alt="">
                                            <div class="quote_icon">
                                                <i class="Flaticon flaticon-quote"></i>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering through animal welfare when people might depend on livestock as their only source of income or food.</p>
                                            <span>- Micky Mouse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <div class="brad_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brad_active owl-carousel">
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <img src="img/brand/1.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="img/brand/2.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <img src="img/brand/3.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <img src="img/brand/4.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <img src="img/brand/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="apply_loan overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <div class="loan_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3>Apply for a Loan for your startup, 
                            education or company</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="loan_btn wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <a class="boxed-btn3" href="contact.html">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
