{% extends 'main/base.html' %}
{% block content %}
{% load static %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_3">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>Criteria</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/criteria.png" alt="">
                  </div>
                  <div class="blog_details">
                     <font size="3">INVESTMENT CRITERIA</font></b></p>
                     <ul>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">
                        Owner-managed or closely-held with shareholders 
                        interested in retaining an ownership stake in the 
                        business</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">
                        Loan Office in UAE</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">EBITDA of 
                        $20 million or greater</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">Strong 
                        core management team with a plan for continued growth 
                        and desire for an investor partner to help build upon 
                        the historical success of the business</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">
                        Diversified customer base<br>
                        <br>
                        <br>
                        TYPICAL SCENARIOS</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">Asset 
                        Diversification: The shareholder remains passionate 
                        about the business and believes strongly in its future. 
                        However, the shareholder wants to diversify their net 
                        worth while continuing to lead the business, retaining 
                        control and a large ownership position.</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">
                        Diversification with a Shift in Responsibilities: The 
                        shareholder remains passionate about the business, but 
                        is seeking a change in personal responsibilities to 
                        dedicate time to other interests. The shareholder wants 
                        to diversify their net worth and retain a large equity 
                        stake and control.</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">Cash Out 
                        Inactive Shareholder: Management shareholders seek to 
                        provide inactive or retiring shareholders with liquidity 
                        while maintaining control of their Board.</li>
                        <li>
                        <p style="line-height: 150%; margin-bottom: 0">
                        Generational Transition: A senior family member seeks to 
                        achieve personal liquidity and facilitate estate 
                        planning while transitioning leadership (including 
                        control of the Board) and a meaningful economic 
                        opportunity to the next generation.</li>
                     </ul>
                     <p style="line-height: 150%; margin-bottom: 0"><b>Our 
                     approach is based upon the following two beliefs:<br>
                     </b>Markets underestimate the importance of the value 
                     proposition<br>
                     <br>
                     Our understanding of the value proposition and avoiding 
                     simple extrapolation of current growth trends, allows us to 
                     better model the growth rate of the product/service. This is 
                     what allows us to invest in companies where Wall Street is 
                     underestimating growth and avoid investing in those where 
                     they are overestimating growth.<br>
                     <br>
                     Markets overestimate certain risks<br>
                     Markets have a tendency to misprice risk in smaller 
                     companies based on the fact that these companies tend to 
                     rely on single products for a material percentage of their 
                     revenues, are heavily concentrated with a few customers or 
                     face large competitors. The market often views these risks 
                     in isolation of the value proposition and thereby under or 
                     overvalues these companies.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


{% endblock %}
