
   {% extends 'main/base.html' %}
   {% block content %}
   {% load static %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_3">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>Services</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/services.gif" alt="">
                  </div>
                  <div class="blog_details">
                     <h3>Value Equities Portfolios</h3>
                     For clients with fixed asset allocation policies, we offer Global and U.S. Value Equity portfolios. Driven by our overall research and portfolio management disciplines, these portfolios benefit from the firm’s all asset research orientation, which we believe produces superior forecasts at the asset class level. This occurs especially during times of stress, when the equity portion of a company’s capital structure can be compromised to resolve financing requirements. Opposite effects are common during robust periods, when corporate actions favor equity holders over lenders.</p>
                              <p><h3>All Asset Value Portfolios</h3>
                     In these services, we exploit value opportunities across multiple asset classes in a single portfolio. Investment objectives of these portfolios are to generate attractive, absolute returns, while conforming to specified, absolute volatility targets. Targets range from low (comparable to bonds of short duration) to moderate (similar to the bond market overall) to high (comparable to equities). Portfolios are managed to achieve absolute returns at or above these volatility targets. These portfolios are contained in an All Asset Value Portfolio Series, offered by private placement memorandum.
                     </p>
                              
                        <p>
                              <h3>Portfolio Construction & Risk Assessment</h3>
                     Our portfolio construction process aims to maximize risk-adjusted returns by rank ordering investment options among qualifying investments according to expected return. We systematically assess these opportunities against estimates of absolute volatility and co-variance. Position weights among qualifying investments are set to maximize expected return for a given level of volatility as measured against the portfolio’s return benchmark.
                              </p>		
                              
                              
                              
                     </div>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
{%  endblock %}